.container {
  margin: 0 auto;
  max-width: 90vw;
  padding: 0 5rem;
  margin-top: 2.5rem;

  @media (max-width: $bp-small) {
    max-width: 100vw;
    padding: 1rem;
  }
  @media (max-width: $bp-mini) {
    padding: 0.2rem;
  }
}
