.api {
  display: flex;
  justify-content: center;
  gap: 2rem;
  margin-top: 5rem;

  @media (max-width: $bp-largest) {
    flex-wrap: wrap;
    // flex-direction: column;
    gap: 2.8rem;
    // width: 45%;
  }
  // @media (max-width: $bp-smallest) {
  //   width: 60%;
  // }
  // @media (max-width: $bp-mini) {
  //   width: 85%;
  // }

  &__heading-box {
    width: 55%;
    text-align: center;

    @media (max-width: $bp-large) {
      width: 100%;
    }
  }
  &__text {
    // text-align: center;
    // font-size: 1.4rem;
    color: $grey-dark;
  }
  &__box {
    margin-top: 4rem;
    padding: 2.3rem;
    text-align: center;
    border: 1px solid $grey-light-2;
    border-radius: 10px;
    transition: all 0.3s;
    width: 24rem;

    @media (max-width: $bp-large) {
      margin-top: 2rem;
    }

    &:hover {
      transform: scale(1.12) translateY(-10px);
      backdrop-filter: 10px;
      box-shadow: 1rem 2rem 2.5rem rgba($grey-light-2, 0.9);
    }
  }
  &__img {
    height: 4.5rem;
  }
  &__number {
    color: $grey-dark-2;
    font-size: 1.8rem;
    font-weight: 600;
    margin-bottom: 1.3rem;
    margin-top: 1rem;
  }
  &__name {
    color: $grey-light;
    font-size: 1.1rem;
  }
}
