.logo {
  margin: 2rem;
  display: flex;
  justify-content: space-between;
  &__img {
    width: 15%;

    @media (max-width: $bp-medium) {
      width: 22%;
      gap: 1rem;
      margin-top: 1rem !important;
    }
    @media (max-width: $bp-smallest) {
      width: 27%;
      gap: 1rem;
    }
  }
}
